.shurscript .modal-body {
  max-height: 450px;
  overflow-x: auto;
}

.shurscript .modal .modal-body .im-container {
  width: 155px;
  height: 155px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #bababa;
  float: left;
}

.shurscript .modal .modal-body .im-container:hover,
.shurscript .moda2 .modal-body .im-container:focus {
  border: 1px solid #00b994;
}

.shurscript .modal .modal-body .im-container a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.shurscript .modal .modal-body .im-container img {
  width: 100%;
  max-height: 100%;
}

.shurscript .modal2 .modal-header h3 {
  font-size: 20px;
}
