.disabled-module {
    opacity: 0.5;
}

#shurscript-settings-window, #shurscript-settings-window .panel {
    color: #333 !important;
}

#shurscript-settings-window p {
    margin: 0;
}

#shurscript-settings-window, #shurscript-settings-window .panel-body > p, #shurscript-settings-window .help-block {
    font-size: 13px !important;
}

#shurscript-settings-window .panel-heading > h3 {
    font-size: 15px !important;
}

.modal-backdrop {
    z-index: 1010;
}

.shur-module-enabled {
    float: right;
}

.shur-btn-options {
    float:right;
    margin: -23px 24px !important;
}

.shur-sub-label {
    color: gray;
}

.shur-radio-element {
    margin-left: 20px;
}

.shur-header {
    border-bottom: 1px solid lightgray;
}
