#shurbar {
    height: 30px;
    border: 1px solid lightgray;
}

#shurbar #quick-search-form .form-control {
    width: 145px;
    display: inline-block;
    padding: 0 10px;
}

#shurbar #quick-search-form input {
    height: 25px;
    margin: 3px;
}

#shurbar #quick-search-form .btn {
    padding: 0 10px;
    font-size: 12px;
}

#shurbar .shurbar-item {
    padding: 6px 15px;
    font-size: 13px;
    cursor: pointer;
}

#shurbar .shurbar-item img {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    margin-top: -2px;
}


#shurbar .shurbar-item a {
    padding: 0 !important;
    line-height: inherit !important;
    display: inline;
}