<div style="z-index:1020" class="shurscript modal fade" id="shurscript-settings-window" tabindex="-1" role="dialog" data-backdrop="true">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="font-weight:300">
                    Preferencias del <strong>Shurscript <%=scriptVersion%></strong> <span class="label branch-<%=scriptBranch%>"><%=scriptBranch%></span>
                    <button style="margin-left:15px;" data-loading-text="Comprobando actualizaciones..." class="btn btn-default btn-sm" id="check-shurscript-updates">Comprobar actualizaciones</button>
                </h4>
            </div>
            <div class="modal-body" style="overflow: auto;">

                <% modules.forEach(function (module, index, arr) { %>

                <!-- Grupo opciones modulo -->
                <div data-module-id="<%=module.id%>" class="panel shur-module-preferences <%=module.preferences.enabled ? '' : 'disabled-module'%>">

                    <div class="panel-heading row-fluid">
                        <input class="shur-module-enabled" type="checkbox" <%=module.preferences.enabled ? 'checked' : ''%>>
                        <h3 class="panel-title"><%=module.name%></h3>
                        <% if (module.options.length > 0) { %>
                        <button data-toggle="button"
                                class="btn btn-default btn-sm pull-right shur-btn-options">
                            Opciones
                        </button>
                        <% } %>
                    </div>

                    <div class="panel-body" <%=module.preferences.enabled ? '' : 'style="display: none;"'%>>
                        <p><%=module.description%></p>
                    </div>

                    <div class="shur-options-body" style="display: none;">
                        <hr style="margin:0">

                        <div class="panel-body">
                        <!-- Loop sobre las opciones del modulo (si hay) -->
                        <% module.options.forEach(function (option, index, arr) { %>

                            <% if (option.type === 'checkbox') { %>
                            <div class="shur-checkbox-group shur-option">

                                <input data-maps-to="<%=option.mapsTo%>" type="checkbox"
                                        <%=module.preferences[option.mapsTo] ? 'checked' : ''%>>

                                <label><%=option.caption%></label>

                                <% if (option.subCaption) { %>
                                    <span class="shur-sub-label"><%=option.subCaption%></span>
                                <% } %>
                            </div>

                            <% } else if (option.type === 'radio') { %>
                            <div class="shur-radio-group shur-option">
                                <label><%=option.caption%></label>

                                <% option.elements.forEach(function(radio, index, arr) { %>
                                <div class="shur-radio-element">
                                    <input type="radio"
                                           name="<%=option.mapsTo%>"
                                           data-maps-to="<%=option.mapsTo%>"
                                           value="<%=radio.value%>"
                                           <%=radio.value === module.preferences[option.mapsTo] ? 'checked' : ''%>> <!-- Si el valor de este radio es igual al de las preferencias del modulo, marca como checked -->

                                    <%=radio.caption%>

                                    <% if (radio.subCaption) { %>
                                <span class="shur-sub-label"><%=radio.subCaption%></span>
                                    <% } %>
                                </div>

                                <% }); %>
                            </div>

                            <% } else if (option.type === 'text' || option.type === 'color') { %>
                            <div class="shur-text-group shur-option">
                                <label><%=option.caption%></label>
                                <input  type="<%=option.type%>"
                                        class="form-control"
                                        data-maps-to="<%=option.mapsTo%>"
                                        value="<%=module.preferences[option.mapsTo]%>">
                                <% if (option.subCaption) { %>
                                    <span class="shur-sub-label"><%=option.subCaption%></span>
                                <% } %>
                            </div>

                            <% } else if (option.type === 'header') { %>
                            <h4 class="shur-header"><%=option.caption%></h4>
                            <%=option.subCaption%>
                            <% } %>

                            <hr>

                        <% }); %>
                        </div>
                    </div>


                </div>
                <% });%>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6 left">
                    <a href="http://bit.ly/1pbuV65" target="_blank"><img src="http://shurscript.org/img/partner_do.png"/></a>
                    <a href="http://bit.ly/1nDZOow" target="_blank"><img src="http://shurscript.org/img/partner_espattio.png"/></a>
					<p>Espattio <a href="http://shurscript.org/colabora">colabora</a> corriendo con los gastos del hosting y VPS :)</p>
                </div>
                <div class="col-xs-6 right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="save-settings">Guardar cambios</button>
                </div>
            </div>

        </div>
    </div>
</div>
